.site-header{
    background-color: #6f0404;
    color: whitesmoke;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
    
}

.myname{
    text-align: center;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
    animation: animate 20s linear infinite;
}



.link{
    color: whitesmoke;
    
}

.profile-pic{
    border-radius: 90%;
    height: 180px;
    width: 180px;
    box-shadow: #020000 5px 5px 5px;

}

body{
    margin: 0em;
}

