
button.tgl{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50;
  width: 150;
  margin-top: 0;
  margin-left: 1150;
  background-color: transparent;
  color:#ed5107;
  padding: 10;
  border-color:  #ed5107;
  border-radius: 10%;
}

.tgl:hover{
    color: #fff;
    transition: all 0.5s ease-out;
    background-color: #ed5107;
       
}
.site-header-content{
    margin: 10px;
    
}

.myname{
    text-align: center;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
    
}



.link{
    color: rgb(76, 76, 231);
    
}

.profile-pic{
    border-radius: 90%;
    height: 180px;
    width: 180px;
    box-shadow: #020000 5px 5px 5px;
    align-self: center;
    margin-top: 0px;

}



h2{
    text-decoration: underline;
    font-size: 50;
    padding-top: 150px;
    margin-left: 20;
}

h3{
    font-size: 30;
    margin-left: 50;
}

button{
    background-color: transparent;
    padding: 0;
    border-radius: 30% ;
    border-color: #ed5107;
    height: 150px;
    width: 150px;
    position: relative;
    top: 50%;
    left: 43%;
    margin-top: 100;
    color: #ed5107;
    cursor: pointer;
        
}

button::before , button::after{
    position: absolute;
    left: 0;
    background-color: #ed5107;
    width: 100%;
    height: 100%;
    
}

button:hover{
    color: #fff;
    transition: all 0.5s ease-out;
    background-color: #ed5107;
       
}